@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Patua+One&family=Sarabun:wght@300&family=Secular+One&family=Staatliches&display=swap");

:root {
  --primary-color: #0f0c29;
  --paragraph-font: "Sarabun", sans-serif;
  --heading-font: "Patua One", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Start */
.main-menu {
  background-color: white !important;
  color: var(--primary-color) !important;
}
.main-menu li a {
  color: var(--primary-color) !important;
  font-size: 18px;
  font-weight: 700;
}
.navbar-brand {
  color: var(--primary-color);
  font-size: 25px !important;
  font-weight: 700;
}
.navbar-toggler-icon {
  color: var(--primary-color) !important;
}
/* Navbar End */

/* Home Page Start */
.home__page {
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 50px !important;
}
.row {
  display: flex;
}
.col-6 {
  width: 50%;
}
.home__heading {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 30px;
}
.brand-name {
  color: #2980b9 !important;
}
.home__p {
  font-family: var(--paragraph-font);
  font-weight: 300;
  margin-bottom: 30px;
}
.home__button {
  display: flex;
}
.home__btn {
  background-color: #003566 !important;
  color: #f8f9fa !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  padding: 8px 30px !important;
  border-radius: 50px !important;
  transition: 0.5s !important;
}
.youtube {
  background-color: red !important;
  margin-left: 30px;
  font-size: 16px !important;
}
.youtube:hover {
  color: red !important;
  background-color: white !important;
  border: 1px solid red !important;
}
.get-started:hover {
  color: #003566 !important;
  background-color: #f8f9fa !important;
  border: 1px solid #003566 !important;
}
.content {
  margin-top: 80px !important;
}
/* Home Page End */

/* About Page Start */
#about {
  height: 60px;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: 700;
}
.about_heading h1 {
  font-weight: 700;
  font-size: 50px !important;
  font-family: "Secular One", sans-serif;
  margin-bottom: 35px;
}
h1 .my_name {
  color: #ff0a54;
}
.about_page {
  width: 100%;
  height: auto !important;
  /* margin-bottom: 100px !important; */
}
.about__section {
  background-color: #f8f9fc;
  padding: 50px 0;
}
.react-tabs a {
  font-size: 20px;
  padding: 0 20px !important;
  margin: 0 20px !important;
  font-weight: 700;
  color: #0f0c29;
}
.active_tabs {
  color: #ff0a54 !important;
}
.active::after {
  background-color: #ff0a54 !important;
}
.react-tabs a::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #ced4da;
  transition: width 0.5s;
}
.react-tabs a:hover::after {
  background-color: #ff0a54;
  width: 100%;
  transition: width 0.5s;
  color: #ff0a54;
}
/* ul li a[role="tab"] {
  color: #ff0a54 !important;
} */
.react-tabs li a:first-child {
  padding-left: 0px !important;
  margin-left: 0px !important;
}
.react-tabs ul {
  margin-right: 25px !important;
}
.nav {
  margin-bottom: 15px !important;
}
.showcase {
  margin: 30px 0;
}
/* About Page End */

/* Service Page Start */

.service__page {
  padding: 50px 0;
  height: auto;
  width: 100%;
}
.service__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px !important;
}
.service__heading__content {
  width: 60%;
}
.service__page h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
.service__page p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 350;
}
#service {
  height: 60px;
  width: 100%;
}
.service__card {
  width: 25rem;
  height: 20rem;
  border-radius: 10px !important;
  display: flex !important;
  justify-content: right;
  padding: 20px 14px;
  background-color: #f6f6f6 !important;
  border: none !important;
  transition: 0.5s;
}
.service__card:hover {
  background-color: #ff0a54 !important;
  color: white !important;
}
.service__card:hover .icons {
  color: white !important;
}
.icons {
  font-size: 60px;
  color: #ff0a54;
  margin-bottom: 10px;
  transition: 0.5s;
}
.service__card h5 {
  font-size: 30px;
  margin-bottom: 10px;
}
.service__card span {
  font-size: 18px;
}
/* Service Page End */

/* Blogs Page Start */
#blogs {
  height: 60px;
  width: 100%;
}
.blogs__page {
  padding: 50px 0;
  height: auto;
  width: 100%;
}
.blogs__section {
  background-color: #f8f9fc;
}
.blogs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px !important;
}
.blogs__heading__content {
  width: 60%;
  margin-bottom: 50px;
}
.blogs__page h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: 700;
}
.blogs__page p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 350;
}
/* Blogs Page End */

/* Contact Page Start */
#contact {
  height: 60px;
  width: 100%;
}
.contact__page {
  padding: 50px 0;
  height: auto;
  width: 100%;
}

form input {
  padding: 10px 15px !important;
  margin: 15px 0;
}
.contact__heading__content {
  margin-bottom: 50px;
}
.contact__heading__content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact__heading__content span {
  font-size: 18px;
  font-weight: 400;
}
.contact__section {
  display: flex;
  flex-direction: column;
}
.contact__img {
  margin-left: 80px;
}
.contact__btn {
  padding: 7px 30px !important;
  color: #ff0a54 !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  border: 1px solid #ff0a54 !important;
}
.contact__btn:hover {
  background-color: #ff0a54 !important;
  color: #f6f6f6 !important;
}
/* Contact Page End */

/* Footer Start */
.bg-footer {
  background-color: black !important;
}
.footer__page {
  padding: 50px 100px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white;
  text-align: center;
}
.footer {
  display: flex !important;
  justify-content: center;
}
.footer h1 {
  font-weight: bold;
  font-size: 60px;
  font-family: "Staatliches", cursive;
  margin-bottom: 15px;
}
.footer span {
  font-family: "Kanit", sans-serif;
}
.footer__icons {
  font-size: 35px !important;
  margin: 10px 15px;
  transition: 0.3s;
}
.footer__icons:hover {
  color: #ff0a54;
}
/* Footer End */

/* Media Query for Responsive Website */
@media (max-width: 768px) {
  .service__page h1 {
    font-size: 45px;
  }
}
